*{
	margin: 0;
	padding: 0;
}
.footer{
	width: 100%;
	height: 400px;
	background:url(../img/foot_bd.jpg);
	
}

.nav {
	width: 100%;
	height: 48px;
	background-color:rgba(124,203,231,0.3);
	line-height: 48px;
	font-size: 16px;
	margin: 0 auto;
}

.nav ul {
	width: 800px;
	position: relative;
	left: 15%;
	font-size: 14px;
}

.nav ul li {
	float: left;
}
.nav>ul>li:nth-child(n+2){
	margin-left: 10px;
} 
.footer a{
	text-decoration: none;
}
.footer li{
	color: white;
	list-style: none;
}
.nav ul li:nth-child(1) {
	margin-left: 180px;
}
.nav ul li a{
	color: #0168B7;
}

.foot{
	width: 1200px;
	height: 352px;
	margin: 0 auto;
}
.foot-k{
	width: 100%;
	height: 40px;
}
.foot-1{
	width: 300px;
	height:288px ;
	display: inline-block;
	float: left;
	margin: 0 10px;
	font-size: 14px;
	
}
.fz{
	width: 100%;
	height: 18px;
	top: 64px;
	
}
.fz b a{
	font-size: 18px;
	color: white;
}
.foot-1-1{
	width: 265px;
	height: 78px;
	margin-top: 25px;	
}
.foot-1-1-1{
	height: 78px;
	float: left;
	display: inline-block;
}
.foot-1-1-2{
	width:178px ;
	height: 78px;
	display: inline-block;
}
.foot-1-1-2 ul{
	margin: 14px;	
}
.foot-1-1-2 ul li{	
	font-size: 15px;
	line-height: 25px;
}
.foot-1-1-3{
	margin-top: 19px;
	color: white;
}
.foot-2{
	width: 380px;
	height:288px ;
	display: inline-block;
	float: left;
	margin:0 66px;
}
.foot-2 ul{
	margin-top: 19px;
}
.foot-2 ul li{
	font-size: 15px;
	line-height: 25px;
}
.foot-3{
	width: 340px;
	height:288px ;
	display: inline-block;
	float: left;
	margin: 0 12px;
}
.foot-3-1{
	width: 100%;
	height: 70px;
	margin-top: 25px;	
}
.foot-3-1 ul{
	width: 100%;
	height: 100%;
}
.foot-3-1 ul li{
	line-height: 30px;
	font-size: 15px;
}
.foot-3-2{
	width: 100%;
	height: 30px;
	margin: 10px 0;
}
.foot-3-3{
	width: 100%;	
}
